{% extends 'template.html.twig' %}

{% block title %}Get ready for some fun!{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/r-2.1.0/sc-1.4.2/datatables.min.css"/>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-12 text-center">
      <img class="img-fluid " src="/assets/img/FunRun2017-banner.png"/>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-inverse" style="background-color: #333; border-color: #333;">
        <div class="card-block text-center">
          <h2 class="display-4" style="text-align:center;padding-bottom:20px;">This campaign starts in:</h2>
          <p>
            <div style="font-size:16px;" id="trackSplash" data-countdown="{{ campaign.startDate|date('Y/m/d') }}"></div>
          </p>
        </div>
      </div>
      <!-- ./card -->
    </div>
    <!-- ./column -->
  </div>
  <!-- ./row -->

{% endblock %}

{% block javascripts %}
  <script type='application/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
  <script type="application/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/fh-3.1.2/r-2.1.0/sc-1.4.2/datatables.min.js"></script>
  <script type='application/javascript' src="{{ asset('assets/js/libs/jquery.countdown.min.js') }}"></script>

  <script>
    $('[data-countdown]').each(function() {
      var $this = $(this),
        finalDate = $(this).data('countdown');
      $this.countdown(finalDate, function(event) {
        $this.html(event.strftime('<span class="lead">%D</span> day%!D &nbsp;&nbsp;<span class="lead">%H</span> hours &nbsp;&nbsp;<span class="lead">%M</span> minutes &nbsp;&nbsp;<span class="lead">%S</span> seconds'));
      });
    });
  </script>
{% endblock %}
