{% extends 'template.html.twig' %}

{% block title %}Grades{% endblock %}

{% block css %}
<!-- Datatables styles -->
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Grades</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br/>
            <table class="table table-hover table-outline mb-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Donations</th>
                        <th>Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                        <tr>
                            <td>
                                {{ grade.grade_name }}
                            </td>
                            <td style="text-align:right;">{% if not grade.donation_amount == 0 %}${{ grade.donation_amount|number_format(2, '.', ',')}}{% endif %}</td>
                            <td style="text-align:center;vertical-align: middle;"><span class="badge badge-{% if grade.rank == 1 %}success{% elseif grade.rank == 2 %}warning{% elseif grade.rank == 3 %}primary{% else %}default{% endif %}">{{ grade.rank}}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
  <script type="application/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script type="application/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.table').DataTable({ "pageLength": 10, "order": [[ 1, "desc" ]]});
        });
    </script>
{% endblock %}
