{% extends 'template.email.html.twig' %}

{% block body %}
<h3>Hello {{ user.firstName }} {{ user.lastName }}!</h3>

<p>This email is to inform you that your password has recently changed. If you did make this change, please contact funrun@lrespto.org</p>
<p>
Thanks,<br>
FRmanager Team
</P>
{% endblock %}
