{% extends 'template.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block css %}
<!-- Datatables styles -->
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Teams</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <br/>
            <table class="table table-hover table-outline mb-0">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>{{ team.teamType.name }}</td>
                            <td>
                                <a href="{{ path('team_show', {'campaignUrl':campaign.url, 'teamUrl': team.url }) }}">{{ team.name }}</a>
                            </td>
                            <td style="text-align:center;">
                                <a href="{{ path('team_show', {'campaignUrl':campaign.url, 'teamUrl': team.url }) }}" class="btn btn-sm btn-info">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                    <span class="hidden-xs hidden-sm">
                                        View</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
  <script type="application/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script type="application/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.table').DataTable({ "pageLength": 50, "order": [[ 1, "desc" ]]});
        });
    </script>
{% endblock %}
