{% extends 'template.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <p style="text-align:left;">
      <strong>NOTE:</strong>
      Please contact
      <a href="mailto:funrun@lrespto.org">funrun@lrespto.org</a>
      if you have any issues logging into the system.</p>
    <hr/>
    <div class="">
      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
      {% endif %}
      <form action="{{ path("login", {'campaignUrl': campaign.url}) }}" method="post" class="form" role="form">

        <div class="form-group">
          <div class="col-sm-8">
            <label for="username" class="col-sm-3 control-label">Email</label>
            <div class="input-group">
             <span class="input-group-addon" id="basic-addon1"><i class="fa fa-at" aria-hidden="true"></i></span>
             <input class="form-control" type="text" id="username" placeholder="enter your email" name="_username" value="{{ last_username }}" required="required"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-8">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-key" aria-hidden="true"></i></span>
            <input class="form-control" type="password" id="password" placeholder="enter your password" name="_password" required="required"/>
          </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-9">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                Remember Me
              </label>
            </div>
          </div>
        </div>
        <div style="text-align:center">
          <a href="{{ path('homepage') }}" class="btn btn-info">Back</a>
          <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Log in"/>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
