{% extends 'template.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <p style="text-align:left;">In order to rest your password you need to provide your account email. We will send you a special email that will provide further instructions on resetting your password.
    <hr/>
    <div class="">
      <form name="user" action="{{ path("password_reset_form", {'campaignUrl': campaign.url}) }}" method="post" class="form" role="form">
        <div class="form-group">
          <div class="col-sm-8">
            <label for="user_email" class="col-sm-5 control-label">Email Address</label>
            <div class="input-group">
             <span class="input-group-addon" id="basic-addon1"><i class="fa fa-at" aria-hidden="true"></i></span>
             <input class="form-control" type="text" id="user_email" placeholder="enter your email" name="user[email]" required="required"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="{{ path('campaign_index', {'campaignUrl':campaign.url}) }}" class="btn btn-info">Back</a>
            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
          </div><!-- ./col -->
        </div><!-- ./row -->
      </form>
    </div>
  </div>
</div>
{% endblock body %}
